<!DOCTYPE html>

<html>
    <head>
        
        
    </head>
    
    <body>
        
        <p>You have received a message on PoGoGG from <%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
        
    </body>
    
</html>